@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rajdhani:wght@400;600&display=swap');

body {
    font-family: 'Rajdhani', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: #111111;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'sans-serif', system-ui, Bargers;
    letter-spacing: 0.05em;
}

